<header class="header">
  <div class="container">
    <a routerLink="" class="logo" aria-label="Volvo Home">
      <img src="assets/images/logo-volvo-group.svg" alt="Volvo Logo" />
    </a>

    <button
      class="menu-toggle"
      (click)="toggleMenu()"
      aria-label="Toggle menu"
      title="Menu"
    >
      <span class="material-icons">menu</span>
    </button>

    <nav
      class="nav"
      [class.active]="isMenuOpen"
      [class.dark]="isDarkMode"
      [class.light]="!isDarkMode"
      id="nav-menu"
    >
      <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()"
        >Home</a
      >
      <a routerLink="/cars" routerLinkActive="active" (click)="closeMenu()"
        >Cars</a
      >
      <a routerLink="/trucks" routerLinkActive="active" (click)="closeMenu()"
        >Trucks</a
      >
      <a routerLink="/bus" routerLinkActive="active" (click)="closeMenu()"
        >Bus</a
      >

      <button
        class="icon-btn"
        aria-label="Toggle dark mode"
        (click)="toggleDarkMode()"
        title="Toggle dark mode"
      >
        <span class="material-icons">dark_mode</span>
        <span class="isDarkMode">{{ isDarkMode ? "Dark" : "Light" }}</span>
      </button>

      <a
        class="icon-btn"
        aria-label="Favorites"
        routerLink="/favorites"
        routerLinkActive="active"
        [class.disabled]="!hasFavorites"
        title="{{ hasFavorites ? 'Favorites' : 'No favorites yet' }}"
        (click)="closeMenu()"
      >
        <span class="material-icons">favorite_border</span>
        <span class="isDarkMode">Favorites</span>
      </a>
    </nav>
  </div>
</header>
