<ng-container *ngIf="currentPosition; else noLocation">
  <p class="text-fields">
    Here are all our Volvo dealership locations across Brazil. Browse the map,
    explore each location, and find the dealership nearest to you for a
    personalized Volvo experience.
  </p>

  <div class="map-container">
    <google-map height="400px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="closeInfo()"
      (mapInitialized)="mapReady($event)">
      <!-- Current User Location Marker -->
      <map-marker [position]="currentPosition" [icon]="markerIcon" title="Your Location"></map-marker>

      <!-- Store Location Markers -->
      <map-marker *ngFor="let store of stores" [position]="{ lat: store.lat, lng: store.lng }" [title]="store.name"
        (mapClick)="openInfo(store, markerRef)" #markerRef="mapMarker"></map-marker>

      <!-- Info Window -->
      <map-info-window>
        <div class="info-window-container">
          <div class="info-header">
            <span class="material-icons info-icon">location_on</span>
            <h3>{{ selectedStore?.name }}</h3>
          </div>
          <div class="info-body">
            <p>{{ selectedStore?.address }}</p>
            <button class="trace-route-btn" (click)="onMarkerClick(selectedStore!)">
              <span class="material-icons">directions</span>
              Trace Route
            </button>
          </div>
        </div>
      </map-info-window>

    </google-map>
  </div>
</ng-container>

<ng-template #noLocation>
  <div class="location-message">
    <p>
      Please update your location to see the nearest options available to you.
    </p>
    <div class="map-controls">
      <button (click)="updateUserLocation()" aria-label="Update My Location">
        Update My Location
      </button>
    </div>
  </div>
</ng-template>