.app-content.dark-mode {
  background-color: #121212;
  color: white;

  .car-card,
  .truck-card,
  .bus-card,
  .news-card,
  .map-container,
  .category-cards {
    background-color: #1e1e1e;
    color: white;
  }

  .btn {
    background-color: #333;
    color: white;
  }
}

.white-text {
  color: white !important;
}
